<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/hover.min.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="../css/estilo.css" media="screen,projection" />
    <title>T.I. JOBS 4 YOU</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav class=" transparent">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center black-text">Configurações</a>
            <a href="usuario.html" data-target="mobile-demo" class="sidenav-trigger black-text">
                <i class="material-icons">arrow_back</i>
            </a>
            <ul class="left hide-on-med-and-down">
                <li><a href="usuario.html" class="black-text"><i class="material-icons">arrow_back</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="input-field col s12">
                <input id="nome" type="text" class="validate">
                <label for="nome">Nome </label>
            </div>
            <div class="input-field col s12">
                <input id="sobrenome" type="text" class="validate">
                <label for="sobrenome">Sobrenome </label>
            </div>
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email </label>
            </div>
            <div class="input-field col s12">
                <input id="senha" type="password" class="validate">
                <label for="senha">Senha</label>
            </div>
            <div class="input-field col s12">
                <input id="C-senha" type="password" class="validate">
                <label for="C-senha">Confirmar senha</label>

            </div>

            <p>Procurando por:</p>
            <p><label><input type="checkbox" /><span>Emprego</span></label></p>
            <p><label><input type="checkbox" /><span>Estágio</span></label></p>
            <p><label><input type="checkbox" /><span>Freela</span></label></p>
            <p><label><input type="checkbox" /><span>Trainee</span></label></p>
            <br>
            <p>Minhas especialidade:</p>
            <p><label><input type="checkbox" /><span>Atendimento Publicitário </span></label></p>
            <p><label><input type="checkbox" /><span>Jornalismo e Conteúdo</span></label></p>
            <p><label><input type="checkbox" /><span>Planejamento</span></label></p>
            <p><label><input type="checkbox" /><span>Social Media</span></label></p>
            <p><label><input type="checkbox" /><span>Comercial </span></label></p>
            <p><label><input type="checkbox" /><span>Comercial</span></label></p>
            <p><label><input type="checkbox" /><span>Produção</span></label></p>
            <p><label><input type="checkbox" /><span>Tecnologia da Informação</span></label></p> 
            <p><label><input type="checkbox" /><span>Criação</span></label></p>
            <p><label><input type="checkbox" /><span>Mídia</span></label></p>
            <p><label><input type="checkbox" /><span>Programação</span></label></p>
            <p><label><input type="checkbox" /><span>Design </span></label></p>
            <p><label><input type="checkbox" /><span>Outros</span></label></p>
            <p><label><input type="checkbox" /><span>Rádio e TV</span></label></p>                        
        </div>
        <div class="col s12">
            <br>
            <a href="" class="btn blue darken-1">
                <i class="material-icons left">autorenew</i>alterar</a>
            <a href="" class="btn-flat blue-text">deslogar</a>
        </div>
        <br>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
