<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/hover.min.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="../css/estilo.css" media="screen,projection" />
    <title>T.I. JOBS 4 YOU</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div id="pc-tablet" class="row hide-on-med-and-down">
        <nav class=" blue darken-1">
            <div class="nav-wrapper container">
                <a href="#inicial" class="brand-logo white-text ">T.I</a>
                <ul id="nav-mobile" class="right">
                    <li>
                        <a class="white-text ">configurações</a>
                    </li>
                    <li>
                        <a class="white-text ">notificações</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="container">
                <div class="col m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="https://images.pexels.com/photos/879109/pexels-photo-879109.jpeg?cs=srgb&dl=code-coding-computer-879109.jpg&fm=jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 ">Programador
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>Ceilândia</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Programador
                                <i class="material-icons right">close</i>
                            </span>
                            <p class="bold">EMPRESA:
                                <span class="normal">Ichurros</span>
                            </p>
                            <p class="bold">CARGO:
                                <span class="normal">Programador estágio</span>
                            </p>
                            <p class="bold">SALÁRIO:
                                <span class="normal"> 700</span> R$</p>
                            <p class="bold">HORÁRIO:
                                <span class="normal">09h00 - 15h00</span>
                            </p>
                            <p class="bold">CIDADE:
                                <span class="normal">Ceilândia</span>
                            </p>
                            <p class="bold">VAGAS:
                                <span class="normal">3</span>
                            </p>
                            <div class="center">
                                <a class="waves-effect waves-light btn blue darken-1" onclick="M.toast({html: 'C.V enviado'}),myFunction()" id="btn-1">enviar c.v</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg?cs=srgb&dl=achievement-adult-agreement-327540.jpg&fm=jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 truncate">Marketing Digital
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>Águas Claras</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Marketing Digital
                                <i class="material-icons right">close</i>
                            </span>
                            <p class="bold">EMPRESA:
                                <span class="normal">Ichurros</span>
                            </p>
                            <p class="bold">CARGO:
                                <span class="normal">Marketing Digital voltado a mídias sociais</span>
                            </p>
                            <p class="bold">SALÁRIO:
                                <span class="normal"> 900</span> R$</p>
                            <p class="bold">HORÁRIO:
                                <span class="normal">08h00 - 14h00</span>
                            </p>
                            <p class="bold">CIDADE:
                                <span class="normal">Águas Claras</span>
                            </p>
                            <p class="bold">VAGAS:
                                <span class="normal">7</span>
                            </p>
                            <div class="center">
                                <a class="waves-effect waves-light btn blue darken-1" onclick="M.toast({html: 'C.V enviado'}),myFunction()" id="btn-2">enviar c.v</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?cs=srgb&dl=ballpen-blur-close-up-461077.jpg&fm=jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 truncate">Web developer
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>Asa Sul</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Web developer
                                <i class="material-icons right">close</i>
                            </span>
                            <p class="bold">EMPRESA:
                                <span class="normal">Ichurros</span>
                            </p>
                            <p class="bold">CARGO:
                                <span class="normal">Web developer</span>
                            </p>
                            <p class="bold">SALÁRIO:
                                <span class="normal"> 650</span> R$</p>
                            <p class="bold">HORÁRIO:
                                <span class="normal">13h00 - 18h00</span>
                            </p>
                            <p class="bold">CIDADE:
                                <span class="normal">Asa Sul</span>
                            </p>
                            <p class="bold">VAGAS:
                                <span class="normal">3</span>
                            </p>
                            <div class="center">
                                <a class="waves-effect waves-light btn blue darken-1" onclick="M.toast({html: 'C.V enviado'}),myFunction()" id="btn-3">enviar c.v</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="mobile" class="hide-on-med-and-up ">

        <nav class=" blue darken-1">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">T.I</a>
                <a href="config.html" data-target="mobile-demo" class="sidenav-trigger white-text">
                    <i class="material-icons">settings</i>
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right white">
                        <i class="material-icons">notifications</i>
                    </a>
            </div>

        </nav>


        <div class="row">

            <div class="col s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="https://images.pexels.com/photos/879109/pexels-photo-879109.jpeg?cs=srgb&dl=code-coding-computer-879109.jpg&fm=jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 ">Programador
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <p>Ceilândia</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Programador
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="bold">EMPRESA:
                            <span class="normal">Ichurros</span>
                        </p>
                        <p class="bold">CARGO:
                            <span class="normal">Programador estágio</span>
                        </p>
                        <p class="bold">SALÁRIO:
                            <span class="normal"> 700</span> R$</p>
                        <p class="bold">HORÁRIO:
                            <span class="normal">09h00 - 15h00</span>
                        </p>
                        <p class="bold">CIDADE:
                            <span class="normal">Ceilândia</span>
                        </p>
                        <p class="bold">VAGAS:
                            <span class="normal">3</span>
                        </p>
                        <div class="center">
                            <a class="waves-effect waves-light btn blue darken-1" onclick="M.toast({html: 'C.V enviado'}),myFunction()" id="btn-1">enviar c.v</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg?cs=srgb&dl=achievement-adult-agreement-327540.jpg&fm=jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 truncate">Marketing Digital
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <p>Águas Claras</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Marketing Digital
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="bold">EMPRESA:
                            <span class="normal">Ichurros</span>
                        </p>
                        <p class="bold">CARGO:
                            <span class="normal">Marketing Digital voltado a mídias sociais</span>
                        </p>
                        <p class="bold">SALÁRIO:
                            <span class="normal"> 900</span> R$</p>
                        <p class="bold">HORÁRIO:
                            <span class="normal">08h00 - 14h00</span>
                        </p>
                        <p class="bold">CIDADE:
                            <span class="normal">Águas Claras</span>
                        </p>
                        <p class="bold">VAGAS:
                            <span class="normal">7</span>
                        </p>
                        <div class="center">
                            <a class="waves-effect waves-light btn blue darken-1" onclick="M.toast({html: 'C.V enviado'}),myFunction()" id="btn-2">enviar c.v</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?cs=srgb&dl=ballpen-blur-close-up-461077.jpg&fm=jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 truncate">Web developer
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <p>Asa Sul</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Web developer
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="bold">EMPRESA:
                            <span class="normal">Ichurros</span>
                        </p>
                        <p class="bold">CARGO:
                            <span class="normal">Web developer</span>
                        </p>
                        <p class="bold">SALÁRIO:
                            <span class="normal"> 650</span> R$</p>
                        <p class="bold">HORÁRIO:
                            <span class="normal">13h00 - 18h00</span>
                        </p>
                        <p class="bold">CIDADE:
                            <span class="normal">Asa Sul</span>
                        </p>
                        <p class="bold">VAGAS:
                            <span class="normal">3</span>
                        </p>
                        <div class="center">
                            <a class="waves-effect waves-light btn blue darken-1" onclick="M.toast({html: 'C.V enviado'}),myFunction()" id="btn-3">enviar c.v</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
